.App {
  text-align: center;
  width: 100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.flex {
  display: flex;
  flex-direction: row;
}
.flex-column {
  display: flex;
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.minHeight {
  min-height: 50px;
}
.container{
  display: flex;
  flex-direction: column;
  width: 100vw;
  max-width: 100vw;
  background-color:  rgb(235, 253, 243);
 
  
}
.NavBar {
  height: 80px;
  max-height: 80px;
  background-color: rgb(255, 255, 255);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.NavBarItem {
  padding: 20px;
}

.landing-page {
  background-color: rgb(251, 250, 255);
  padding: 20px;
  width: 80%;

}

.dashboard {
  display: flex;
  flex-direction: column;
   align-items: center;
}

a { text-decoration: none; }

.loginContainer {
  background-color: rgb(255, 255, 255);
  width: 300px;
  padding: 20px;
  border-radius: 5px;
}
.box {
  background-color: rgb(255, 255, 255);
  margin: 20px;
  padding: 20px;
  border-radius: 5px;
}

div {
  margin: 0px;
  padding: 0px;
}

html {
  background-color: rgb(202, 202, 202);
}

