.UserDashboard {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.userDashboard-header {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}

.userDashboard-header-item {
  font-size: 2rem;
  margin: 0px 10px;
}

.searchBar {
  border-style: solid;
  border-width: 1px;
  border-color: rgb(184, 184, 184);
  border-radius: 20px;
  padding: 7px;
}

.UserDashboard-display {

}

.userDashboard-box {
  background-color: white;
  width: 90%;
  margin-top: 40px;  
  padding: 10px;
}